<h3><a ui-sref="home">Home</a> &lt; <a ui-sref="categories">Categories</a> &lt; <span>Category:</span></h3>

<items-list categoryList="categoryItems.items"></items-list>
<div class="row">
  <div class="button-frame">
      <div class="label-item col-md-8" ng-repeat="item in categoryItems.items">
      <p class="dish-name">{{item.name}}</p>
      <p class="dish-description">{{item.description}}</p>
      <span class="dish-price">$ {{item.price_small}}</span>
      <span class="dish-price">$ {{item.price_large}}</span>

    </div>
  </div>
</div>
